* {
    font-size: 1em;
}

form{
    border: solid 3px black;
    padding: 10px 5px;
    background-color: rgba(166, 171, 243, 0.842);
    margin: 15px;
}

#fs3{
text-align: center;
width: 10vw;
margin: 0 auto 0 auto;
}

#fs3 button{
width: 100%;
height: 100%;
margin-top: 2px;
border-radius: 8px;
}

input{
    border-radius: 5px;
}


header{
    background-color: rgba(166, 171, 243, 0.842);
    margin: 15px;
    border: solid 3px black;
    padding: 0px 0px;
}

header img{
    height: 10vh;
    width: 8vw;
}

p{
    text-align: center;
    font: normal 15pt arial;
    font: bold;
}

body{
    background-color: rgb(32, 6, 182);
}

#rua{
    width: 60%;
}

#nfunc{
    width: 60%;
}

#cpf{
    width: 20%;
}

#rg{
    width: 20%;
}

#compl{
    width: 30%;
    border: none;
}

input:invalid{
    border: 1px solid red;
}

input:valid{
    border: 1px solid rgb(117, 241, 127);
}

