* {
    font-size: 1em;
}

form{
    border: solid 3px black;
    padding: 10px 5px;
    background-color: rgba(166, 171, 243, 0.842);
    margin: 15px;
}

input{
    border-radius: 5px;
}

select{
    border-radius: 5px;
}

header{
    background-color: rgba(166, 171, 243, 0.842);
    margin: 15px;
    border: solid 3px black;
    padding: 0px 0px;
}

header img{
    height: 10vh;
    width: 8vw;
}

header ul{
    position: relative;
    float: right;
}

header ul a{
    text-decoration: none;
    font: normal 15pt arial;
    margin: 10px 10px;
    color: black;
}

p{
    text-align: center;
    font: normal 15pt arial;
    font: bold;
}

body{
    background-color: rgb(32, 6, 182);
}

#ruai{
    width: 60%;
}

#nfunc{
    width: 60%;
}

#cpf{
    width: 20%;
}

#rg{
    width: 20%;
}

#compl{
    width: 30%;
}
